body {
    font-family : 'Roboto', sans-serif;
    background-color: #E1E2E1;
}

.header {
    background-color: #00867d;
}

.panel {
    background-color: #F5F5F6;
    padding: 16px;
}

.panel-heading {
    padding: 16px;
}

.card {
    margin: 16px 0;
}

.card-header {
    padding: 12px;
    background-color: #4db6ac;
    margin: 10px;
}

.divider {
    background-color: #82e9de;
}

.option-padding {
    padding: 16px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #4db6ac;
}

.dead-pet {
    filter: grayscale(100%);
}

.alive-pet {
    filter: grayscale(0%);
}